<nav class="navbar bg-white" id='navmenu'>
    <div class="decoration">
        Employee Review System
    </div>
    <div class="pull-right">
        <button type="button" class="google-button" (click)="socialSignIn('google')">
            <span class="google-button-icon">
                <img src="../../../../assets/images/google_login.png" alt="Logo" class="google-logo">
            </span>
            <span class="google-button-text">Sign in</span>
        </button>
    </div>
</nav>
<div class="container-fluid image">
</div>