<div class="page-wrap d-flex flex-row align-items-center bg-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center text-primary">
                <span class="display-1 d-block error-code">401</span>
                <div class="mb-4 error-text">Sesion expired, Please log-in again</div>
                <button (click)="goHome()" class="btn primary-btn">Back to Home</button>
            </div>
        </div>
    </div>
</div>