@import '../../../../scss/colors.scss';
$_url: 'src/assets/images/bg.jpg';

.page-wrap {
  min-height: 100vh;
}

.error-text{
  font-size: 21px;
  font-weight: 500;
  color: $secondary-dark;
}

.bg-image{
  background-image: url($_url);
}

.error-code{
  font-weight: 400;
}