<div>
  <form [formGroup]="ratingFieldForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-8">
        <label class="question required">Add a question to your questionnaire:</label>
        <i class="ml-2 fa fa-info-circle text-grey" pTooltip="The most visual way to rate" tooltipPosition="right"></i>
      </div>
      <div class="col-4 text-right">
        <button type="button" title="Delete Question" class="icon-bg-transparent" (click)="onRemove()">
          <i class="fa fa-trash fa-lg text-primary"></i>
        </button>
      </div>
    </div>
    <div class="form-group">
      <input type="text" #questionElement class="form-control" (blur)="trimValue($event ,'question')"
        formControlName="question" placeholder="Type the question">
      <div
        *ngIf="!!ratingFieldForm.controls.question.invalid && (!!ratingFieldForm.controls.question.dirty || !!ratingFieldForm.controls.question.touched)"
        class="text-danger message-block">
        <div *ngIf="!!ratingFieldForm.controls.question.errors.required" class="error-message">
          <small #error>Question is required.</small>
        </div>
        <div *ngIf="!!ratingFieldForm.controls.question.errors.pattern" class="error-message">
          <small #error>Special character `,^,| are not allowed</small>
        </div>
        <div *ngIf="!!ratingFieldForm.controls.question.errors.maxlength" class="error-message">
          <small #error> Question must be of {{this.maxLength}} characters max.</small>
        </div>
        <div *ngIf="!!ratingFieldForm.controls.question.errors.dataAbsents" class="error-message">
          <small #error> Invalid Question</small>
        </div>
      </div>
    </div>
    <div class="form-group" id="add">
      <div *ngIf="labels.length===0">
        <button type="button" [ngClass]="{'badge-success': !labelFlag}" class="btn btn-secondary btn-sm" id="re"
          (click)="addLabel()">Add Label.
        </button>
      </div>
      <small #error *ngIf="ratingFieldForm.get('question').errors?.unique" class="text-danger">Label must me
        unique</small>
      <small #error class="text-danger" *ngIf="ratingFieldForm.get('labels').touched && labels.length===0"> Provide
        labels</small>
      <div class="form-group" formArrayName="labels" *ngFor="let label of labels.controls; let i=index">
        <div [formGroupName]="i">
          <div class="row ">
            <div class="ml-4 mt-2">
              <i class="fa fa-lg fa-star-o fa fa-lg text-primary" aria-hidden="true"></i>
            </div>
            <div class="col-10">
              <input id="option" class="form-control" placeholder="Option" (blur)="setLabelValue(i)"
                formControlName="option" type="text">
            </div>
            <div class="col-1 mt-2 p-0">
              <i class="fa fa-lg fa-times text-primary" (click)="removeLabel(i)"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-10 ml-4">
              <div class="message-block" *ngIf="!!ratingFieldForm.get('labels').get(i.toString()).get('option').invalid
               && (!!ratingFieldForm.get('labels').get(i.toString()).get('option').dirty ||
                !!ratingFieldForm.get('labels').get(i.toString()).get('option').touched)">
                <small #error *ngIf="!!label.controls.option.errors.maxlength " class="text-danger ml-3 error-message">
                  Label must be of {{this.maxLength}} characters max.
                </small>
                <small #error
                  *ngIf="!!this.ratingFieldForm.get('labels').get(i.toString()).get('option').errors?.unique "
                  class="text-danger ml-3 error-message">Label must be unique
                </small>
                <small #error *ngIf="!!label.controls.option.errors.pattern " class="text-danger ml-3 error-message">
                  Special character `,^,| are not allowed
                </small>
                <small #error *ngIf="!!label.get('option').errors.required " class="text-danger ml-3 error-message">
                  Label is required
                </small>
                <small #error *ngIf="!!label.get('option').errors.dataAbsents " class="text-danger ml-3 error-message">
                  Invalid Label
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="labels.length!==0" class="row">
        <div class="ml-4 mt-2">

          <i class="fa fa-lg fa-star-o  text-primary" aria-hidden="true"></i>
        </div>
        <div class="col-10">
          <button type="button" [ngClass]="{'badge-success': !labelFlag}" class="btn btn-secondary btn-sm" id="re"
            (click)="addLabel()">
            Add More
          </button>
        </div>
      </div>
    </div>
  </form>
</div>