@import '../../../../../scss/colors.scss';

.number-highlight{
    font-weight: bolder;
    font-size: 18px;
    text-align: right;
    vertical-align: top;
}

.question-highlight{
    display: block;
    font-size: 18px;
    color: $secondary-dark;
}

.ans-highlight{
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}